@charset "UTF-8";
.default {
	position: relative;
	z-index: 11;
}
body {
	background: url(../images/background.jpg) #f3efe8;
	margin: 0;
	padding: 0;
	color: #000;
}
.solid-element { width:980px; margin:0px auto; position:relative;}

.solid-element .layer-alfa {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 57px;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl {
	padding: 0;
	margin: 0;
}
a img {
	border: none;
}
a:link {
	color: #42413C;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
/* ~~ Navigation ~~ */
.header {
	width: 100%;
	height: 70px;
	background: #dbd0bb;
}
.shadow {
	width: 100%;
	height: 25px;
	background: url(../images/shadow.png) center top;
}
.default .logo {
	height: 88px;
	width: 207px;
	position: absolute;
	top: 5px;
	left: 0px;
}
.logo a {
	background: url(../images/logo.png);
	width: 100%;
	height: 100%;
	display: block;
}
.header .menu-div {
	height: 100%;
	width: 980px;
	margin: 0 auto;
}
.default .logo-borobudur {
	height: 78px;
	width: 181px;
	padding-top: 5px;
	margin: 0px auto;
}
.default .weather-div {
	height: 70px;
	width: 255px;
	position: absolute;
	right: 0px;
	top: 12px;
}
.weather-div ul { width:100%; height:20px;}
.weather-div ul li { float:right; list-style:none; padding-right:20px; background:url(../images/arrow-down.png) no-repeat right center; cursor:pointer; padding-top:3px;}
.weather-div li a {color: #764E21;
font-family: Arial,Helvetica,sans-serif; height:20px;
font-size: 12px; text-decoration:none; vertical-align: middle; line-height:12px; padding-right:30px; display:block; position:relative; }
.weather-div li a img { position:absolute; right:0px; top:-1px;}
.logo-borobudur a {
	background: url(../images/logo-borobudur.png);
	width: 100%;
	height: 100%;
	display: block;
}
.header .menu {
	height: 100%;
	width: 900px;
	margin: 0 auto;
}
.menu {
	width: 100%;
	height: 40px;
	background: url(../images/transparant-bar.png);
	float: left;
	position: absolute;
	z-index: 100
}
.menu-shadow {
	width: 100%;
	height: 40px;
	float: left;
	background: url(../images/shadow-menu.png) no-repeat;
	position: absolute;
	z-index: 1;
	margin-top: 40px;
	background-position: center top
}
.bar-menu {
	width: 100%;
	height: 100%;
	background: url(../images/shadow-menu.png) no-repeat;
	background-position: center top;
}
.bar-menu ul {
	margin: 0px auto;
	width: 995px;
	padding-top: 13px;
}
.bar-menu ul li {
	background: url(../images/divide.png) no-repeat left center;
	float: left;
	float: left;
	list-style: none;
	padding: 0 9px;
	list-style: none
}
.bar-menu ul li a {
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase
}
.bar-menu ul li a:hover {
	text-decoration: underline;
}
/* ~~ Primary Content ~~ */
.bar {
	width: 980px;
	margin: 0 auto;
	height: 0px;
	position: relative;
}
.content {
	width: 960px;
	height: 600px;
	margin: 110px auto 0px;
}
.close {
	cursor: pointer;
	text-align: center
}
.content-straw {
	width: 100%;
	height: 1350px;
	position: relative;
}
.content-straw-sec {
	width: 100%;
	height: auto;
	position: relative;
}
.clear-offers {
	height: 600px;
	width: 100%;
	position: relative
}
.shade {
	background: url(../images/shade.png) center bottom no-repeat
}
.block-offers, .block-accomodation {
	background: url(../images/block-offers.png) repeat
}
.div-offers, .div-accomodation {
	width: 980px;
	margin: 0px auto;
	position: relative;
}
.div-accomodation .tail-accomodation {
	height: 200px;
	width: 100%;
}
.layer-alfa .desc-accomodation { width:100%; height:190px; float:left;}
.desc-accomodation h3 {
color: #9b824d;
font-size: 33px;
font-style: italic;
font-weight: lighter;
margin-bottom: 15px;
font-family: Georgia !important;
margin-left: 70px;}
.desc-accomodation p {color: #382d27;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	width:730px;
	line-height: 20px;
	margin-left: 70px;
	margin-bottom: 10px;}
.tail-accomodation-option ul { width:750px; height:55px; margin-left:10px;}
.tail-accomodation-option ul li { float:left; background:url(../images/divide-accomodation.png) right no-repeat; list-style:none; margin-bottom:10px;}
.tail-accomodation-option ul li a { margin:0px 20px; font-family:Georgia !important; font-style:italic; font-size:16px; padding:0px 10px; text-decoration:none;}
.tail-accomodation-option	 ul li a:hover {background:#d5c9b4}
.active-background, .current {background:#d5c9b4}
.none-divide {background:none !important;}
.div-offers h1, .div-accomodation h1 {
	font-family: Georgia !important;
	font-size: 33px;
	font-weight: lighter;
	font-style: italic;
	color: #382d27;
	margin-left: 40px;
}
.div-offers .content-offers {
	width: 100%;
	height: 295px;
}
.div-accomodation .content-accomodation {
	width: 100%;
	height: 360px;
}

.div-accomodation .content-request {
	width: 100%;
	height: 690px;
}

.div-offers .footer-offers, .layer-alfa .footer-accomodation {
	width: 100%;
	height: 130px;
	text-align: center;
	position: relative;
}

.div-accomodation .footer-space {
	width: 100%;
	height: 210px;
	text-align: center;
	position: relative;
}

.footer-offers a, .footer-accomodation a {
	margin-left: 30px;
	line-height: 34px;
	height: 35px;
	width: 220px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	background: #bea360;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	position: absolute;
	left: 40px;
	top: 40px;
}
.div-offers .shadow-offers, .div-accomodation .shadow-accomodation {
	width: 100%;
	height: 30px;
	margin-bottom: 70px;
	background: url(../images/offers-tail-shadow.png) center top no-repeat;
}
#content-mid {
	width: 100%;
	height: 360px;
	position: absolute;
	top: 700px;
}
.content-offers .mid-offers {
	width: 835px;
	height: 100%;
	margin: 0 auto;
	border-bottom: 2px dotted #bfa666
}
.mid-offers .left-mid-offers {
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
}
.left-mid-offers .img-offers {
	width: 315px;
	height: 245px;
	position: absolute;
	left: 0px;
	bottom: 10px;
}
.content-offers .button-offers {
	height: 35px;
	margin-top: 10px;
	width: 100%
}
.button-offers a {
	margin-left: 30px;
	line-height: 34px;
	height: 100%;
	width: 160px;
	text-align: center;
	display: block;
	background: #bea360;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size: 12px
}
.img-offers .fix-img-offers {
	width: 100%;
	height: 210px;
	float: left;
	background: #e0d7c8;
	text-align: center;
}
.div-shadow {
	-moz-box-shadow: 4px 4px 2px #c5c0bc;
	-webkit-box-shadow: 4px 4px 2px #c5c0bc;
	box-shadow: 4px 4px 2px #c5c0bc;
}
.fix-img-offers img {
	margin-top: 10px;
}
.img-offers .shadow-img-offers {
	width: 100%;
	height: 30px;
	float: left;
	background: url(../images/offers-shadow.png) center top no-repeat
}
.mid-offers .right-mid-offers {
	width: 60%;
	height: 100%;
	float: left;
}
.right-mid-offers h3 {
	color: #9b824d;
	font-size: 24px;
	font-style: italic;
	font-weight: lighter;
	margin-top: 45px;
	margin-bottom: 15px;
	font-family: Georgia !important;
	margin-left: 30px;
}
.right-mid-offers p {
	color: #382d27;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	line-height: 20px;
	margin-left: 30px;
	margin-bottom: 10px;
}
.slide-1 {
	width: 995px;
	height: 100%;
	margin: 0px auto;
}
.slide-1 .slide-content {
	width: 845px;
	height: 100%;
	margin: 0px auto;
}
.content-tail {
	width: 100%;
	background: url(../images/shadow-tail.png) no-repeat center top;
	height: 300px;
	position: absolute;
	bottom: 0px;
}
.social-bar {
	width: 100%;
	height: 65px;
	background: #bea360
}
.social-bar .social-div {
	width: 343px;
	position: relative;
	height: 100%;
	margin: 0 auto;
}
.fshadow {
	text-shadow: 1px 1px 1px #000000;
}
/* ~~ Left Content ~~ */
/*.content .left {
	width: 27%;
	height: 100%;
	float: left;
	background: url(../images/block-transparant.png) repeat
}*/

.icon {
	position: absolute;
	right: 0px;
	z-index: 10;
	width: 157px;
	height: 288px;
	top: -60px
}
.icon a {
	width: 100%;
	height: 100%;
	display: block;
	background: url(../images/special-offers.png) no-repeat
}
.main-static {
	width: 259px;
	height: 475px;
	position: absolute;
	float: left;
	z-index: 10;
}
.div-static {
	width: 260px;
	height: 100%;
	position: absolute;
	right: 0px;
}
.div-static .left {
	width: 259px;
	height: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: url(../images/block-transparant.png) repeat
}
.left .reservation {
	width: 100%;
	height: 280px;
	float: left;
}
.reservation h3, .special-offers h3 {
	height: 28px;
	background: #927e51;
	display: block;
	margin: 0px;
	font-size: 14px;
	padding-top: 7px;
	position: relative;
	padding-left: 10%;
	font-weight: 100;
	text-transform: uppercase;
	color: #fff;
}
.inset {
	top: 0px;
	width: 35px;
	height: 28px;
	display: block;
	padding-top: 7px;
	position: absolute;
	right: 0px;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
}
.reservation .bar, .special-offers .bar {
	width: 100%;
	height: 2px;
	background: url(../images/bar.png) repeat-x;
}
.left .special-offers {
	width: 100%;
	height: 295px;
	float: left;
}
.left .member {
	width: 100%;
	height: 120px;
	position: relative;
	float: left;
	background: #927e51;
}
.member .member-list {
	height: 49px;
	width: 51px;
	position: absolute;
}
.member1 {
	bottom: 11px;
	right: 183px;
}
.member2 {
	bottom: 65px;
	right: 183px;
}
.memberfrag1 {
	background: url(../images/member/logo-1.png) no-repeat;
}
.memberfrag2 {
	background: url(../images/member/logo-2.png) no-repeat
}
.member-list a {
	height: 100%;
	text-decoration: none;
	width: 100%;
	display: block
}
.fmember {
	font-size: 11px;
	position: absolute;
	left: 85px;
	bottom: 17px;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
.clear-space {
	margin-top: 10px;
}
/* ~~ Right Content ~~ */
.content .right {
	width: 73%;
	font-weight: lighter;
	height: 100%;
	float: right;
	background: url(../images/block-left-transparant.png) repeat
}
.right .full-field {
	width: 100%;
}
.full-field .divsec {
	width: 94%;
	margin: 0px auto;
	height: 540px;
	margin-top: 30px !important;
}
.active-color {
	text-decoration: underline !important;
}
.duos h1 {
	font: Georgia !important;
	font-style: italic;
	font-size: 20px;
	font-weight: lighter;
	color: #f3efe8;
}
/* ~~ Mid Content ~~ */

.menu-mid a {
	padding: 0px 20px;
	height: 40px;
	background: #bca25e;
	line-height: 38px;
	display: block;
	margin-left: 5px;
	font-family: Arial Narrow !important;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff
}
.div-slider .divsec {
	width: 100%;
	height: 100%
}
/* ~~ Tail Content ~~ */



/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
	position: absolute;
	list-style: none;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.space {
	height: 40px;
	width: 100%;
}
.customtd {
	width: 415px;
	height: 23px;
}
#quick-rsv {
	position: inherit;
	text-align: left;
	font-family: Arial;
	font-size: 11px;
	margin-top: 20px;
	color: #000;
}
#quick-rsv input[type="text"] {
	height: 12px;
	border: solid 1px black;
	font-size: 11px;
	padding: 1px;
}
#quick-rsv input[type="button"], #quick-rsv input[type="submit"] {
	height: 20px;
	text-align: center;
	text-decoration: none;
	color: #0462BA;
	font-size: xx-small;
}
#quick-rsv a {
	text-decoration: none;
	color: #0462BA;
}
#quick-rsv select {
	height: 20px;
	font-size: 11px;
}
.ui-datepicker {
	font: 62.5% "Trebuchet MS", sans-serif;
}
/*form*/
.rtittlex .mainframe {
	width: 100%;
	font-family: Arial Narrow;
	font-size: 11px;
	color: #fff;
	line-height: 15px;
}
.rtittlex .mainframe .divide {
	width: 50%;
	text-align: center;
	float: left;
}
.rtittlex .mainframe .divide-3 {
	width: 33%;
	text-align: center;
	float: left;
}
.rtittlex .mainframe .spread {
	width: 100%;
	height: 30px;
	float: left;
	margin-top: 15px;
}
.ie7 .rtittlex .mainframe {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	line-height: 15px;
}
.ie7 .rtittlex .mainframe .divide {
	width: 49%;
	text-align: center;
	float: left;
}
.ie7 .rtittlex .mainframe .divide-3 {
	width: 33%;
	text-align: center;
	float: left;
}
.ie7 .rtittlex .mainframe .spread {
	width: 100%;
	height: 23px;
	float: left;
	margin-top: 5px;
}
/*Slider*/
.contentx h3 {
	color: #fff;
	font-family: Georgia !important;
	font-size: 21px;
	padding: 0px;
	margin: 5px auto;
	margin-left: 15% !important;
	font-style: italic;
	font-weight: lighter;
	background: none;
	float: left;
	text-transform: none;
	width: 85%;
	margin-bottom: 0px !important;
}
.contentx p {
	color: #fff;
	font-family: Arian Narrow !important;
	font-size: 11px;
	float: left;
	padding: 0px;
	margin-left: 15% !important;
	font-weight: lighter;
	background: none;
	margin: 0px;
	text-transform: uppercase;
	width: 85%;
}
.contentx .button-barx {
	margin-left: 15% !important;
	width: 85%;
	height: 15px;
	padding-top: 5px;
	float: left;
}
.button-barx a {
	width: 93px;
	height: 100%;
	color: #fff;
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 15px;
	font-size: 13px;
	padding: 5px;
	background: #947f53;
	font: Arial Narrow !important;
}
#rightbar {
	height: 258px;
	position: relative;
	width: 259px;
}
.sliderbutton {
	cursor: pointer;
	float: left;
	height: 20px;
	width: 20px;
}
#slideleft {
	position: absolute;
	bottom: 35px;
	left: 10px;
	background: url("../images/btn_arrow_left.png") no-repeat scroll 0 0 transparent;
	z-index: 1;
}
#slideleft:hover {
}
#slideright {
	position: absolute;
	bottom: 35px;
	right: 10px;
	background: url("../images/btn_arrow_right.png") no-repeat scroll 0 0 transparent;
}
#slideright:hover {
}
.contentx {
	width: 228px;
	margin-left: 0px;
}
#slider {
	float: left;
	height: 258px;
	margin: 0 15px;
	overflow: auto;
	position: relative;
	width: 229px;
}
#slider ul {
	left: 0;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}
#slider li {
	float: left;
	height: 235px;
	width: 558px;
}
#slider li img {
	padding: 0px;
	padding-top: 10px;
}
.pagination {
	bottom: 0;
	height: 25px;
	list-style: none outside none;
	position: absolute;
	right: 20px;
}
.pagination li {
	background: none repeat scroll 0 0 #CCCCCC;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	float: left;
	height: 8px;
	margin: 0 4px 0 0;
	width: 8px;
}
.pagination li:hover, li.current {
	background: none repeat scroll 0 0 #FFFFFF;
}
/* ~~ Slider Belt Carousel ~~ */
.list_carousel {
	margin: 30px auto;
	width: 845px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	left: 0px;
	top: 23%;
	width: 40px;
	height: 77px;
	position: absolute;
	background: url(../images/prev.png) no-repeat;
}
.next {
	right: 0px;
	top: 23%;
	height: 77px;
	width: 40px;
	position: absolute;
	background: url(../images/next.png) no-repeat;
}
.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
/* ~~ Slide hover ~~ */
.boxgrid {
	position: relative;
	width: 275px;
	height: 220px;
	padding: 0;
	margin-right: 6px;
	display: block;
	overflow: hidden;
}
.boxgrid h3 {
	font-family: Georgia !important;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	font-weight: lighter;
}
.boxgrid img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}
.boxgrid p {
	padding: 0 10px;
	color: #afafaf;
	font-weight: bold;
	font: 10pt "Lucida Grande", Arial, sans-serif;
}
.boxcaption {
	float: left;
	position: absolute;
	background: url(../images/transparant-block.png);
	height: 100px;
	width: 100%;
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.captionfull .boxcaption {
	top: 260;
	left: 0;
	height: 100%;
	width: 100%;
}
.caption .boxcaption {
	top: 220;
	left: 0;
}
/* ~~ Tail Footer ~~ */
.left-content {
	width: 60%;
	height: 100%;
	float: left;
	position: relative
}
.right-content {
	width: 40%;
	height: 100%;
	float: right;
	position: relative
}
.left-content h2 {
	font-family: Georgia !important;
	font-size: 33px;
	font-weight: lighter;
	font-style: italic;
	color: #382d27;
	margin-top: 55px !important;
	margin-left: 7px !important;
	padding: 0px;
	margin: 0px;
}
.left-content p, .right-content p, .social-div p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0px;
	padding-left: 5px !important;
	width: 475px;
	line-height: 18px;
}
.right-content .absolute-font {
	width: auto !important;
	position: absolute;
	font-style: italic;
	left: 180px;
	top: 203px;
}
.social-font {
	position: absolute;
	top: 11px;
	left: 5px;
	color: #fff;
	width: auto !important;
}
.social-div ul {
	padding: 0px;
	float: right;
	height: 100%;
	margin-right: 15px;
}
.social-div ul li {
	padding: 0px;
	margin: 0px;
	width: 55px;
	height: 100%;
	float: right;
	list-style: none;
}
.social-div li a {
	height: 100%;
	background-position: center center;
	width: 100%;
	display: block;
}
.facebook {
	background: url(../images/social/facebook.png) no-repeat
}
.twitter {
	background: url(../images/social/twitter.png) no-repeat
}
.tripadvisor {
	background: url(../images/social/tripadvisor.png) no-repeat
}
.gplus {
	background: url(../images/social/gplus.png) no-repeat
}
.footer {
	width: 100%;
	height: 160px;
	background: #302623
}
.font-footer {
	font-size: 12px !important;
	width: auto !important;
	margin: 30px 20px 0px 20px !important;
	color: #dbd0bb
}
.right-align {
	text-align: right;
	margin-right: 40px !important
}
.footer-bar {
	width: 100%;
	height: 27px;
	bottom: 30px;
	position: absolute
}
.footer-bar a {
	padding: 2px 10px;
	background: #ab904c;
	font-size: 10px !important;
	text-transform: uppercase;
	text-decoration: none;
	color: #dbd0bb;
	margin-left: 25px;
	margin-top: 2px;
}
.footer-barx {
	width: 100%;
	height: 27px;
	bottom: 33px;
	position: absolute
}
.footer-barx ul {
	margin-right: 24px
}
.footer-barx ul li {
	float: right;
	list-style: none;
	background: url(../images/divide.png) no-repeat;
	background-position: left;
}
.footer-barx a {
	padding: 0px 15px;
	font-size: 13px !important;
	text-transform: uppercase;
	text-decoration: none;
	color: #dbd0bb;
	margin-top: 2px;
}
.footer-barx a:hover {
	text-decoration: underline;
}
/* ~~ Weather ~~ */
.weatherRange {
	font-size: 12px !important;
	color: #644e37 !important;
}
/*Clever technique to help you on CSS hacks.*/
.gecko .reservation h3, .gecko .special-offers h3 {
	line-height: 25px;
}

.gecko .submit-button {height: 28px !important;}


/*Gallery for Accomodation*/
#gallery{ 
	width:770px; 
	position:relative;
	margin-left:70px;
	height:370px; overflow:hidden;
	background:#none !important;
	padding-top:20px;
}
#gallery ul.ui-tabs-nav{
	position: absolute;
	top: 20;
	right: -18px;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 250px;
}
#gallery ul.ui-tabs-nav li{ 
	font-size:12px;
	width:160px; display:block; 
	margin-bottom:11px;
	text-align:center;
	background:none !important;
	
}
#gallery ul.ui-tabs-nav li img{ 
	margin:5px auto; 
}
#gallery ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#gallery li.ui-tabs-nav-item a{ 
	display:block; 
	height:103px;
	text-align:center;
	width:160px; text-decoration:none;
	color:#333;  background:#e0d7c8; outline:none;
}
#gallery li.ui-tabs-nav-item a:hover{ 
}
#gallery li.ui-tabs-selected, #gallery li.ui-tabs-active{ 
	
}
#gallery ul.ui-tabs-nav li.ui-tabs-selected a, #gallery ul.ui-tabs-nav li.ui-tabs-active a{ 

}
#gallery .ui-tabs-panel{ 
		width:510px; height:335px;
	background:#e0d7c8; position:relative; text-align:center;
}
.ui-tabs-panel .shadow-gallery { width:100%; height:30px; position:absolute; bottom:-30px; left; background: url(../images/gallery-shadow.png) top center no-repeat}
#gallery .ui-tabs-panel img {padding-top:15px;}
#gallery .ui-tabs-panel .info{ 
	position:absolute; 
	bottom:0; left:0; 
	height:70px; 
}
#gallery .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:11px; font-family:Verdana; color:#f0f0f0; right:10px; top:-20px; line-height:20px; margin:0; outline:none; background:#333;
}
#gallery .info h2{ 
	font-size:1.2em; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0; font-weight:normal;
	overflow:hidden; 
}
#gallery .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#gallery .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#gallery .info a:hover{ 
	text-decoration:underline; 
}
#gallery .ui-tabs-hide{ 
	display:none; 
}



/*Capdase for Gallery */

.capdase {
	width: 100%;
	height: 240px;
}
.capdase a { background:#000;}
.capdase ul, .content-gallery ul, .div1 ul, .div2 ul, .div3 ul{
	width: 880px;
	height: 100%;
	margin: 0 auto;
	position:relative;
}
.capdase ul li, .div1 ul li, .div2 ul li, .div3 ul li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	text-align: center;
	height: 182px !important;
	width: 280px;
	background: #e0d7c8;
	list-style: none;
	position: relative;
}
.capdase li .boundaries {
	bottom: 30px;
	position: absolute;
	width: 100%;
	height: 20px;
	z-index: -1
}
.capdase li .shadow-list, #view li .shadow-list { background:url(../images/shadow-list.png) no-repeat center bottom; width:100%; height:20px; position:absolute; bottom:-17px;}
.title-bar {width: 880px;
	height: 45px;
	padding-top:15px;
	margin: 0 auto;
	position:relative;}

.footer-gallery-bar {width: 100%;
	height: 75px;
	position:relative;}
.footer-gallery-bar .nasty-bar {width: 880px;
	height: 100%;
	text-align:right;
	margin: 0 auto;
	position:relative;}
#itemContainer h3 { width:100%; margin:0px; padding:0px; font-family: Georgia !important; font-size:18px; font-weight:lighter; color:#382d27; font-style:italic; text-align:center; position:absolute; top:-50px; left:0px }
.capdase li a, .div1 li a, .div2 li a, .div3 li a {
	width: 266px;
	height: 169px;
	display: block;
	margin: 0px auto;
	margin-top: 6px;
}

.capdase li a { background:url(../images/block-list-gallery.png)}
 .current-list { background:none !important}

.mark-top {margin-top:40px !important}
.content-gallery {
	width: 100%;
	position: relative;
	background: url(../images/shadow-div.png) center top no-repeat #e7d4b3;
	position:relative;
}
.shadow-div-footer { 
width: 100%;
height:20px;
	position: absolute;
	bottom:1px;
	left:0px;
background: url(../images/shadow-div-footer.png) center bottom no-repeat;}
.content-gallery .div1, .content-gallery .div2, .content-gallery .div3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	display: none
}

.arrow-up { background:url(../images/arrow-up.png) no-repeat; width:34px; height:22px}

.show1, .show2, .show3 {
	display: none;
}
.div1 {
	
}
.div2 {
	
}
.div3 {

}
.hidden-div {
	display: none !important
}
.div-index {
	z-index: 1;
}
#view {
	width: 100%
}

/*Holder for Gallery */
.holder {
	margin: 15px 0;
}

.holder a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
}

.holder a:hover {
	background-color: #222;
	color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.holder span { margin: 0 5px; }



/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
   background:#e0d7c8;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;

}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 26px;
  background:#e0d7c8;
  
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-dataContainer .lb-nav {
	height: 30px;
width: 180px;
line-height:19px;
position: relative;
float: right;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  width: auto;
height: 20px;
position: absolute;
text-decoration: none !important;
display: block !important;
}

/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
	text-decoration:underline
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
    width: auto;
height: 20px;
position: absolute;
bottom: - 55%;
right: 10%;
text-decoration: none !important;
}

.font-lb { font-weight:lighter !important; font-family:Georgia !important; font-size:23px !important; font-style:italic; color:#382d27 !important}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
text-decoration:underline
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  position:relative;
  background:#e0d7c8;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-dataContainer .lb-data {
  padding: 0 4px;
  color: #bbbbbb;
  width:100%;
  height:100%;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  height:100%
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  float:left;
  margin-left:20px;
  height:100%;
  font-weight: bold;
  line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
   float:left;
   height:100%;
   margin-left:10px;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Menu */
.bar-menu {
  width: auto;
}
.bar-menu,
.bar-menu ul,
.bar-menu ul li,
.bar-menu ul li a {
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.weather-div ul li a {
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.bar-menu:before,
.bar-menu:after,
.bar-menu > ul:before,
.bar-menu > ul:after {
  content: '';
  display: table;
}
.weather-div:before,
.weather-div:after,
.weather-div > ul:before,
.weather-div > ul:after {
  content: '';
  display: table;
}
.bar-menu:after,
.bar-menu > ul:after {
  clear: both;
}
.weather-div:after,
.weather-div > ul:after {
  clear: both;
}
.bar-menu a {
}

.bar-menu ul {
  
}
.bar-menu ul > li {
  float: left;
  list-style: none;
}

.bar-menu ul > li > a {
  display: block;
  text-decoration: none;
  position: relative;
}
.weather-div ul > li > a {
  display: block;
  text-decoration: none;
  position: relative;

}
.bar-menu ul > li > a:hover {
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.weather-div ul > li > a:hover {
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.bar-menu ul > li > a:hover:before {
  content: '';
  z-index: 2;
  position: absolute;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  opacity: .2;
}
.weather-div ul > li > a:hover:before {
  content: '';
  z-index: 2;
  position: absolute;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  opacity: .2;
}
.bar-menu ul > li > a:hover:after {
  content: '';
  z-index: 2;
  position: absolute;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: -1px;
  opacity: .2;
}
.weather-div ul > li > a:hover:after {
  content: '';
  z-index: 2;
  position: absolute;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: -1px;
  opacity: .2;
}
.bar-menu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.weather-div > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.bar-menu > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}

.weather-div > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}
.bar-menu > ul > li > ul {
  width: 130px;
  margin-left:-30px;
  padding-top:15px;
  position: absolute;
  z-index:200;
}
.weather-div > ul > li > ul {
  width: 130px;
  position: absolute;
  z-index:200;
}
.bar-menu > ul > li > ul > li {
  float: none;
  width:95%;
  line-height:32px;
  background:url(../images/bar-block.png);
  margin:0px auto;
  height:35px;
  padding-bottom:1px;
  position: relative;
  text-align:center;
}
.weather-div > ul > li > ul > li {
  float: none;
  width:95%;
  line-height:32px;
  background:url(../images/bar-block.png);
  margin:0px auto;
  height:23px;
  padding-bottom:1px;
  position: relative;
  text-align:center;
}
.bar-menu > ul > li > ul > li:hover { background:#927d50}
.bar-menu > ul > li > ul > li a { height:100%; width:95%; margin:0px auto; border-bottom: 1px solid #958f8c; margin-bottom:1px; text-decoration:none !important;}
.has-sub { cursor:pointer;}
.bar-menu > ul > li > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.bar-menu > ul > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}
.bar-menu > ul > li > ul > li > ul {
  left: 200px;
  top: 1px;
  width: 200px;
}
.bar-menu > ul > li > ul > li > ul > li {
  float: none;}

.weather-div > ul > li > ul > li:hover { background:#927d50}
.weather-div > ul > li > ul > li a { height:100%; width:84%; margin:0px auto; border-bottom: 1px solid #958f8c; margin-bottom:1px; text-decoration:none !important; line-height:22px; text-align:left; padding-left:10px; position:relative;}
.weather-div > ul > li > ul > li a img { position:absolute; right:10px; top:2px;}
.weather-div > ul > li > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.weather-div > ul > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}
.weather-div > ul > li > ul > li > ul {
  left: 200px;
  top: 1px;
  width: 200px;
}
.weather-div > ul > li > ul > li > ul > li {
  float: none;
}

/* Request for Proposal */
#shell-form { 
	width: 980px; 
	height:770px;
	margin: 0px auto; font-size:13px; 
	
}
.required-noob {display:none}
.required-show {display:block !important ; margin-left: 10px !important; color:#F00}
#shell-form span {padding: 5px;}
.response-bar span {float:left; margin-left:50px;}
.response-bar .odis span {position:absolute; left:145px;}
#shell-form .form-left, #shell-form .form-right {
	width:40%; float:left; height:280px;
	text-align:right;
	padding-top:20px;
	}
#contact  input, #contact  label, #contact  textarea {
	display: block;
	padding: 2px;
	
}
#contact .slide-right label { margin-top: 0; position:absolute; right:-140px; bottom:0px; width:130px; height:20px; text-align:left }
#contact .slide-left label { margin-top: 0; position:absolute; right:-140px; bottom:0px; width:130px; height:20px; text-align:left }
textarea { font-size: 80%; font-family: Verdana,Arial,Helvetica,sans-serif; }
#response, #loading { display: none }
#loading { text-align: center }
label.error { font-size: 11px; color: red }
input.error, textarea.error { border: 1px solid red }
#response h3 { background: none; text-align:center; border: none }
#contact input.captcha, #contact input.sum {
	display: inline;
	width: 40px;
	text-align: center;
}
#contact input.sum { width: 20px }
span#spambot {
	font-size: 11px;
}
	
#contact .slide-right textarea {
	float:right;
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border: 1px solid #6B683D;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    outline: 0 none;
	height:100px;
    padding: 5px;
    width: 64.4%;
	margin-right:20%;
	}
.form-bar { float:left; vertical-align:central; height:25px; color:#fff; width:100%; background:#BDA461; margin-top:35px;}
.form-bar h3 { padding:0px; font-size:13px; margin:0px; margin-top:4px; margin-left:10px;}
.slide-left, .slide-right {width:100%; float:left; margin-top:10px; position:relative}

.response-bar {float:left; height:35px; width:100%; margin-top:35px;}
.response-bar .odis {width:72%; height:100%; margin:0px auto; position:relative}
.odis label { display:none !important}

#contact .response-bar input {height:12px;
	float:left;
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border: 1px solid #6B683D;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    outline: 0 none;
    padding: 5px;
    }
#contact select {height:25px !important}
#contact input, #contact textarea, #contact select {
	height:12px;
	float:right;
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border: 1px solid #6B683D;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    outline: 0 none;
    padding: 5px;
    width: 140px;
}
#contact textarea { width: 300px; font: normal 13px/150% Arial, Helvetica, sans-serif;  }

#contact input:hover, #contact textarea:hover, #contact input:focus, #contact textarea:focus {
    border-color: #B0B0B0;
}
.submit-button { background:#BDA461 !important; color:#fff}
.submit-button:hover { background:#BCA461;}

